doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/styles.css')
    body
        ul.nav.nav-pills
            li: a(href='/transactions/view') View
            li: a(href='/transactions/search') Search
            li: a(href='/transactions?page=#{currentPage}') Add/Edit
            li.active: a(href='#') Credit Cards
        .container
            .row
                .col-md-6.col-md-offset-3
                    .panel.panel-primary
                        .panel-heading
                            h4 Credit Card Status
                        .panel-body
                            form(action='/credit', method='POST')
                                .form-group
                                    label Credit Card Status Id
                                    .input-group
                                        input.form-control(type='text', name='id', value="#{creditCardStatus ? creditCardStatus.id : ''}")
                                        span.input-group-btn
                                            btn.btn.btn-info Find
                                .form-group
                                    label Company Name
                                    input#companyName.form-control(type='text', name='companyname', value="#{creditCardStatus ? creditCardStatus.companyname : ''}")
                                .form-group
                                    label Available Credit
                                    input#availableCredit.form-control(type='text', name='availablecredit', value="#{creditCardStatus ? creditCardStatus.availablecredit : ''}")
                                .form-group
                                    label Balance
                                    input#balance.form-control(type='text', name='balance', value="#{creditCardStatus ? creditCardStatus.balance : ''}")
                                .form-group
                                    label Date Entered
                                    input#dateEntered.form-control(type='text', name='dateentered', value="#{creditCardStatus ? creditCardStatus.dateentered : ''}")
                                .form-group
                                    label Next Due Date
                                    input#nextDueDate.form-control(type='text', name='nextduedate', value="#{creditCardStatus ? creditCardStatus.nextduedate : ''}")
                                button(type='submit', class='btn btn-lg btn-success') Submit
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/creditCardStatus.js')