doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='/css/jquery-ui.min.css')
        link(rel='stylesheet', href='/css/autocomplete.min.css')
    body
        ul.nav.nav-pills
            li: a(href='/transactions/view') View
            li: a(href='/transactions/search') Search
            li.active: a(href='#') Add/Edit
            li: a(href='/credit') Credit Cards
        .container
            .row
                .col-md-6.col-md-offset-3
                    .panel.panel-primary
                        .panel-heading
                            h4 Enter transaction details
                        .panel-body
                            form(action='/transactions', method='POST')
                                .form-group
                                    label Transaction Id
                                    .input-group
                                        input.form-control(type='text', name='id', value=`${transaction ? transaction.id : ''}`)
                                        span.input-group-btn
                                            btn.btn.btn-info Find
                                .form-group
                                    label Description
                                    input#transactionDescription.form-control(type='text', name='description', value=`${transaction ? transaction.description : ''}`)
                                .form-group
                                    label Amount
                                    input#transactionAmount.form-control(type='text', name='amount', value=`${transaction ? transaction.amount : ''}`)
                                .form-group
                                    label Date
                                    input#transactionDate.form-control(name='date', value=`${transaction ? transaction.transactiondate : ''}`)
                                .form-group
                                    label Category
                                    input#transactionCategory.form-control(type='text', name='category', value=`${transaction ? transaction.category : ''}`)
                                .checkbox
                                    label(for='isbill') Recurring Bill?
                                    input#isbill(type='checkbox', name='isbill', checked=transaction && transaction.isbill)
                                .checkbox
                                    label(for='notprocessed') Not Processed?
                                    input#notprocessed(type="checkbox", name='notprocessed', checked=transaction && transaction.notprocessed)
                                .checkbox
                                    label(for='pending') Pending?
                                    input#pending(type="checkbox", name='pending', checked=transaction && transaction.pending)
                                input(type='hidden', name='page', value=`${page}`)
                                button(type='submit', class='btn btn-lg btn-success') Submit
        script(src='/js/jquery.min.js')
        script(src='/js/jquery-ui.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/findTransaction.js')
        script(src='/js/autocomplete.min.js')
        script(type='text/javascript').
            $(function() {
                $('#transactionDate').datepicker();
                $('#isbill').checkboxradio({ icon: false });
                $('#notprocessed').checkboxradio({ icon: false });
                $('#pending').checkboxradio({ icon: false });

                autocomplete({
                  input: document.getElementById("transactionCategory"),
                  fetch: function(text, update) {
                    text = text.toLowerCase();
                    $.get('/transactions/category/' + searchValue, function(response){
                        //- $.each(response, function(index, value){
                        //-     var descriptionCell = "<td><a href='/transactions/" + value.id + "'>" + value.description + "</a></td>";
                        //-     var categoryCell = '<td>' + value.category + '</td>';
                        //-     var amountCell = '<td>' + value.amount + '</td>';
                        //-     var dateCell = '<td>' + value.transactiondate + '</td>';
                        //-     var row = '<tr>' + descriptionCell + categoryCell + amountCell + dateCell + '</tr>';
                        //-     $('#tableBody').append(row);
                        //- });
                        console.log('category response', response);
                        var suggestions = response
                            .map(n => {
                                return { label: n.category, value: n.category }
                            })
                            .filter(n => n.label.toLowerCase().startsWith(text));
                        console.log('autocomplete suggestions', suggestions);
                        update(suggestions);
                    });
                  },
                  onSelect: function(item) {
                    input.value = item.label;
                  }
                })
            });