doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    body
        .panel.panel-primary
            .panel-heading
                h4 Balance Info
            .panel-body
                h3: div.label.label-primary.col-md-4 Available Balance $#{balance.available}
                h3: div.label.label-primary.label.col-md-4.col-md-offset-2 Bank Balance $#{balance.bank}
        - var currentPage = parseInt(page);
        - currentPage = currentPage === 0 ? 1 : currentPage;
        h3.col-md-4 Recent transactions
        table.table.table-striped
            thead
                tr
                    th.col-md-9 Description
                    th.col-md-1 Amount
                    th.col-md-1 Date
                    th.col-md-1 &nbsp;
            tbody
                each trans in transactions
                    tr
                        td
                            a(href='/transactions/' + trans.id + '?page=#{currentPage}')= trans.description
                        td= trans.amount
                        td= trans.transactiondate
                        td
                            button.btn.btn-danger.btn-sm(data-id='#{trans.id}') Delete
        - var nextPage = currentPage + 1;
        - var prevPage = currentPage - 1;
        - prevPage = prevPage < 0 ? 1 : prevPage;
        a.col-md-4(href='/transactions/view?page=#{prevPage}') View Previous Page
        a.col-md-4(href='/transactions/view?page=#{nextPage}') View Next Page
        a(href='/transactions?page=#{currentPage}') Add Transaction
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/deleteTransaction.js')